In [16]:
import pandas as pd
conditions = ["confirmed","deaths","recovered"]

def make_country_df(condition,country):    
    df = pd.read_csv("data/confirmed_global.csv")
    df = df.loc[df["Country/Region"]=="country"]
    df = df.drop(columns=["Province/State","Country/Region","Lat","Long"]).sum().reset_index(name=condition)
    df = df.rename(columns={'index':"date"})
    return df
final_df = None

for condition in conditions:
    condition_df = make_country_df(condition,"Korea, South")
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)

final_df

        date  confirmed  deaths  recovered
0    1/22/20          0       0          0
1    1/23/20          0       0          0
2    1/24/20          0       0          0
3    1/25/20          0       0          0
4    1/26/20          0       0          0
..       ...        ...     ...        ...
497   6/2/21          0       0          0
498   6/3/21          0       0          0
499   6/4/21          0       0          0
500   6/5/21          0       0          0
501   6/6/21          0       0          0

[502 rows x 4 columns]