In [5]:
import pandas as pd
df = pd.read_csv("data/confirmed_global.csv")
df = df.drop(["Province/State","Country/Region","Lat","Long"],axis = 1).sum().reset_index(name = "total")
df= df.rename(columns={'index':'date'})
df

        date      total
0    1/22/20        557
1    1/23/20        655
2    1/24/20        941
3    1/25/20       1433
4    1/26/20       2118
..       ...        ...
497   6/2/21  171680812
498   6/3/21  172169929
499   6/4/21  172589646
500   6/5/21  172987591
501   6/6/21  173310648

[502 rows x 2 columns]